{% extends 'base.html' %}
{% block content %}

    {% block breadcrumb %}
    <nav class="breadcrumb">
     <ol class="breadcrumb">
         <li class="breadcrumb-item active"><a href="/">Home</a></li>
         <li class="breadcrumb-item active"><a href="/">Album</a></li>
     </ol>
 </nav>
    {% endblock %}
<div class="row">
{% for album in albums %}
 {% include 'includes/album_card.html' %}
{% endfor %}
</div>
{% endblock %}
{% block sidebar %}
{% include 'includes/user_profile.html' %}
{% endblock %}

