{% extends 'base.html' %}
{% block content %}
<div>
    <ol>
        {% for album in albums %}
        <li > <a href="{{url_for('album.view_album', user_id=user.id ,album_name=album.name)}}">{{album.name}}</a></li>
        {% endfor %}

    </ol>
    {% block breadcrumb %}
    <nav class="breadcrumb">
     <ol class="breadcrumb">
         <li class="breadcrumb-item active"><a href="/">Home</a></li>
         <li class="breadcrumb-item active"><a href="/">Albums</a></li>
     </ol>
 </nav>
    {% endblock %}
</div> 
<form action="{{url_for('album.add_album', user_id=current_user.id)}}" method="post" class="m-3">
    <input type="text" name="name" placeholder="album name">
    <input type="text" name="description"  placeholder="description">
    {{form.status}}
    <input type="submit" value="submit">
</form>

{% endblock %}