{% extends 'base.html' %} {% block content %} {% block breadcrumb %}
<nav class="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">
      <a
        href="{{url_for('album.view_album',
           user_id=user.id ,album_name=album_name)}}"
        >albums</a
      >
    </li>

    <li class="breadcrumb-item active">photo</li>
  </ol>
</nav>
{% endblock %}
{% set photo_path = path + '/' + photo.name %}
<div >
  <a href="{{ url_for('static', filename=photo_path) }}"
    ><img
      class="mx-auto d-block img-fluid"
      src='{{ url_for("static", filename=photo_path) }}'
      class="d-block w-50 h-50"
      alt="{{photo_name}}"
    />
  </a>
</div>

<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalTitle" class="modal-title" id="exampleModalLongTitle">Warning</h5>
        <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modalBody" class="alert alert-warning" role="alert">
           Warning: you are about to delete this photo from your album
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button id="deletePhotoButton" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
{% block comments %}

<section style="background-color: #f7f6f6;">
  <div class="container my-5 py-5 text-dark">
    <!-- <div class="row d-flex justify-content-center"> -->
    <div id="commentParent" class="row d-flex">
      <div class="form-outline mb-4">
          <input type="text" id="commentInput" class="form-control" placeholder="Type comment..." />
          <label class="form-label" for="commentInput">+ Add a comment</label>
        </div>
      <div class="col-md-12 col-lg-10 col-xl-8">
        
        {% for comment in photo.comments %}
        {% include 'includes/comment_card.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% endblock %}

{% block sidebar %}
<ul class="list-group">
  {% if current_user.is_authenticated %}
  <div class="btn btn-group w-100" role="group">
    
    <button
      class="btn btn-default"
      title="edit details"
      type="button"
      data-mdb-toggle="modal"
      data-mdb-target="#deleteModalCenter"
    >
      <i class="fa fa-trash"></i>
    </button>
    <button
      class="btn btn-default"
      id="deletePhotoButton"
      title="delete photo"
      type="button"
    >
      <i class="fa fa-edit"></i>
    </button>
  </div>
  {% endif %}
  <li class="list-group-item">
    <table class="table">
      <tbody>
        <tr>
          <td>name</td>
          <td style="word-wrap: break-word;max-width: 100px">{{photo.name}}</td>
        </tr>
        <tr>
          <td>description</td>
          <td >{{photo.description}}</td>
        </tr>
        <tr>
          <td>uploaded datetime</td>
          <td >{{photo.uploaded_date}}</td>
        </tr>
      </tbody>
    </table>
  </li>
  {% if photo.public %}
  <div class="btn btn-group w-100" role="group">
      <button id="photoLikeButton" class="btn btn-default">
        <i id="{{user.id ~ album_name ~ photo.name}}"  class="fa fa-heart heartIcon"> {{photo.likes}}</i>
      </button>
      <button  data-mdb-html="true"  title="copy photo link" class="btn btn-defualt" type="button" id="copyLinkButton">
        <i class="fa fa-copy"></i>
      </button>
  </div>
  {% endif %}

</ul>

{% endblock %}


