{% extends 'base.html' %}
{% block content %}


{% block breadcrumb %}
    <nav class="breadcrumb">
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Home</a></li>
         <li class="breadcrumb-item">albums</li>
     </ol>
 </nav>
    {% endblock %}
<div class="row">
    {% for photo in photos %}
    {% set photo_path = path + '/' + photo.name %}
    {% include 'includes/image_card.html' %}
    {% endfor %}

    {% include 'includes/post_album_card.html' %}
    
    
</div>
    {% endblock %}