{% extends 'base.html' %}
{% block content %}


{% block breadcrumb %}
    <nav class="breadcrumb">
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Home</a></li>
         <li class="breadcrumb-item">albums</li>
     </ol>
 </nav>
    {% endblock %}
<div class="row">
    {% for photo in photos %}
    {% set photo_path = path + '/' + photo.name %}
    {% include 'includes/image_card.html' %}
    {% endfor %}

    {% include 'includes/post_album_card.html' %}
    <!-- <form action="{{url_for('album.add_photo', user_id=current_user.id, album_name = album_name)}}" method="post" class="m-3" enctype="multipart/form-data">
        <input type="text" name="description"  placeholder="description">
        {{form.photo}}
        {{form.status}}
        <input type="submit" value="submit">
    </form> -->
    
</div>
    {% endblock %}