{% extends 'base.html' %}
{% block content %}
{% block breadcrumb %}
    <nav class="breadcrumb">
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Home</a></li>
         <li class="breadcrumb-item"><a href="{{url_for('album.view_album',
           user_id=user.id ,album_name=album_name)}}">albums</a></li>
         
         <li class="breadcrumb-item active">photo</li>
         <!-- use url_for -->
        
     </ol>
 </nav>
    {% endblock %}


    
    {% set photo_path = path + '/' + photo.name %}
    <div class="carousel-item active">
      <a href="{{ url_for('static', filename=photo_path) }}"><img
        src='{{ url_for("static", filename=photo_path) }}'
        class="d-block w-50 h-50"
        alt='{{photo_name}}'
      />
      </a>
    

     
        
</div>
    {% endblock %}
    
    {% block sidebar %}
    <p>{{photo.name}}</p>
    {% if photo.description %}
    <p>{{photo.description}}</p>
    {% else %}
    <p>no descriptions</p>
    {% endif %}
    {% endblock %}

