{% extends 'base.html' %}

{% block content %}
<form>
    <!-- FirstName input -->
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-9">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">First Name</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input type="text" class="form-control form-control-lg" placeholder="{{current_user.fname}}"/>
                  </div>
                </div>
               </div>
            </div>  
           </div>  
        </div> 
    </div>
    <!-- LastName input -->
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-9">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
                <div class="row align-items-center ">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Last Name</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input type="text" class="form-control form-control-lg" placeholder="{{current_user.lname}}" />
                  </div>
                </div>
               </div>
            </div>  
           </div>  
        </div> 
    </div>


    <!-- Email input -->
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-9">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
                <div class="row align-items-center ">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input type="text" disabled class="form-control form-control-lg" placeholder="{{current_user.email}}"/>
                  </div>
                </div>
               </div>
            </div>  
           </div>  
        </div> 
    </div>
  
    <!-- Bio input -->
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-9">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
                <div class="row align-items-center ">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Bio</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                    
                  </div>
                      
                </div>
                 <!-- Submit button -->
                 <div id= "updatebtn" class="float-end mt-3 pe-4"><button type="button" class="btn btn-primary">Update</button>
                 </div>
        </form>
               </div>
            </div>  
           </div>  
        </div> 
     
    </div>

{% endblock %}


{% block sidebar %}
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #9D789B;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
              class="rounded-circle img-fluid" />
          </div>
          <div class="card-body">
            <h4 class="mb-4">{{current_user.fname+" "+current_user.lname}}</h4>
            <hr />
            <p class="dark-grey-text mt-4">
              <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet eos adipisci,
              consectetur adipisicing elit.
            </p>
          </div>
        </div>
{% endblock%}