<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <div class="card" style="width: 18rem;">
        {% if album.photos.first() %}
        {% set photo_path = 'users/' ~ user.id ~ '/' ~ album.name + '/' ~ album.photos.first().name %}
        {% else %}
        {% set photo_path = 'logos/no-image.jpg' %}
        {% endif %}
        <img id="albumCard" class="card-img-top" height="100px" width="18rem" src="{{url_for('static', filename=photo_path)}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a href="{{url_for('album.view_album', user_id=user.id, album_name=album.name)}}">{{album.name}}</a></h5>
            <p class="card-text">{{album.description}}</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>    
  </div>