   <!-- Navbar -->


<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <h1>
        <a style="color: grey;" class="navbar-brand mt-2 mt-lg-0" href="{{url_for('album.index')}}">Hamon Albums</a>
      </h1>

      <form id="searchForm" class="d-flex input-group">
        <div class="position-relative">
        <input
        id="searchBar"
        type="search"
        class="form-control rounded"
        placeholder="Search"
        autocomplete="off"
        />
        <ul
        style="display: none;"
        id="searchList"
        class="position-absolute w-100 list-group"
        ></ul>
        </div>
      </form>
    </div>
    {% if current_user.is_authenticated %}
    
    <div class="d-flex mb-2 align-items-center">
        <div class="dropdown">
        <a
          class="link-secondary me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span id="notificationCount" class="badge rounded-pill badge-notification bg-danger">0</span>
        </a>
        <ul id="notificationList"
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >

        </ul>
      </div>
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
          style="color:gray"
        >
          <i class="fas fa-user"></i>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="#">{{current_user.fname}}</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    {% else %}
    <a class="btn btn-primary" href="{{url_for('auth.login')}}">Login</a>
    <a class="btn btn-primary ms-1" href="{{url_for('auth.register')}}">Register</a>
    {% endif %}
  </div>
</nav>

