<nav class="navbar navbar-expand-lg app-navbar">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand" href="{{ url_for('album.index') }}">
            <span class="brand-mark"><i class="fa-solid fa-layer-group"></i></span>
            <span>Hamon Albums</span>
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <form id="searchForm" class="app-nav-search mt-3 mt-lg-0">
                <i class="fa-solid fa-magnifying-glass app-search-icon"></i>
                <input
                    id="searchBar"
                    type="search"
                    class="form-control app-search-input"
                    placeholder="Search creators, albums, moments"
                    autocomplete="off"
                />
                <ul
                    id="searchList"
                    class="position-absolute w-100 list-group app-search-list"
                    style="display: none; z-index: 10;"
                ></ul>
            </form>

            {% if current_user.is_authenticated %}
                <div class="d-flex align-items-center justify-content-end app-nav-actions">
                    <div class="dropdown">
                        <a
                            class="app-icon-button link-secondary position-relative"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                            aria-label="Open notifications"
                        >
                            <i class="fas fa-bell"></i>
                            <span id="notificationCount" class="badge rounded-pill badge-notification">0</span>
                        </a>
                        <ul
                            id="notificationList"
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                        ></ul>
                    </div>

                    <div class="dropdown">
                        <a
                            class="app-icon-button avatar-trigger dropdown-toggle d-flex align-items-center hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuAvatar"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <img src="{{ current_user | photo }}" class="rounded-circle" alt="{{ current_user.fname }}">
                            <span class="visually-hidden-mobile">{{ current_user.fname }}</span>
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuAvatar"
                        >
                            <li><a class="dropdown-item" href="#">{{ current_user.fname }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('album.get_settings') }}">Settings</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="d-flex align-items-center justify-content-end app-nav-actions">
                    <a class="btn btn-secondary" href="{{ url_for('auth.login') }}">Login</a>
                    <a class="btn btn-primary" href="{{ url_for('auth.register') }}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
