<section class="profile-panel">
    <div class="profile-panel__cover"></div>
    <img
        src="{{ user | photo }}"
        class="profile-panel__avatar"
        alt="{{ user.fname }} {{ user.lname }}"
    />
    <h2 class="profile-panel__name">{{ user.fname + " " + user.lname }}</h2>
    <p class="profile-panel__bio">{{ user.bio if user.bio else 'A refined collection of albums and photographs.' }}</p>
    <div class="profile-panel__meta">
        <span class="meta-chip"><i class="fa-regular fa-images"></i> Public profile</span>
        <span class="meta-chip"><i class="fa-regular fa-star"></i> Browse albums and moments</span>
    </div>
</section>
